.bio-container {
	position: relative;
	background: url("./teaching-pic.jpg" ) center center no-repeat;
	background-size: cover;
	width: 100%;
	height: 500px;
	display: flex;
	padding: 16px;
	box-sizing: border-box;
	align-items: flex-end;
	justify-content: center;
	margin: 0 auto;
	a {
		// text-decoration: none;
		&:hover {
			color: #fff;
		}
		&:visited {
			color: #fff;
		}
	}
}
.shade {
	background: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.teaching-pic {
	width: 100%;
	display: none;
}
.personal_tag_line {
	color: #fff;
	font-size: 1.6rem;
	letter-spacing: 1.6px;
	line-height: 2.5rem;
	margin: 0;
	max-width: 800px;
	position: relative;
	z-index: 1;
}

@media screen and (min-width: 460px) {
	.personal_tag_line {
		font-size: 2.2rem;
		letter-spacing: 1.6px;
		line-height: 3.6rem;
		padding-bottom: 16px;
	}
	.bio-container {
		background: url("./teaching-pic.jpg" ) center center no-repeat;
		background-size: cover;
	}
}
