/* Post */
.post_container {
	max-width: 800px;
	margin: 0 auto;
	p {
		font-size: 1.3rem;
		line-height: 2rem;
		margin-bottom: 28px;
		color: #384B56;
	}
	.post_date {
		font-size: 1rem;
		color: #EA4545;
		margin: 0;
	}
}
.post_title {
	font-size: 42px;
	font-weight: 700;
	margin: 0;
}
.post_description {}
.post_quote {}

/* Blog Page */
.blog_entries {
	padding: 16px;
	box-sizing: border-box;
}
.blog_entry_title {
	margin: 0;
	a {
		font-family: KarminaSans-Bold;
		font-size: 48px;
		color: #1C2A32;
		letter-spacing: 1.6px;
		text-transform: uppercase;
		color: #1C2A32;
		&:visited {
			color: #1C2A32;
		}
		&:hover {
			color: #1C2A32;
		}
	}
}

.blog_entry_date {
	font-family: KarminaSans-Bold;
	font-size: 14px;
	color: #EA4545;
	letter-spacing: 0.47px;
	line-height: 16px;
}

.blog_entry_description {
	color: rgba(0,0,0,.54);
	line-height: 1.5rem;
	margin-top: 4px;
	display: none;
}
.blog_meta_data {
	display: flex;
	small {
		margin-right: 8px;
	}
}
.blog_entry_tag {

}

.blog_entry_content, .bio_container, nav {
	max-width: 800px;
	margin: 0 auto;
}