.bio-container {
	position: relative;
	background: url("./teaching-pic.jpg" ) center center no-repeat;
	background-size: cover;
	width: 100%;
	height: 500px;
	display: flex;
	padding: 24px;
	box-sizing: border-box;
	align-items: flex-end;
	justify-content: center;
	margin: 0 auto;
}
.shade {
	background: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.teaching-pic {
	width: 100%;
	display: none;
}
.personal_tag_line {
	color: #fff;
	font-size: 2.2rem;
	letter-spacing: 1.6px;
	line-height: 3.2rem;
	margin: 0;
	max-width: 800px;
	position: relative;
	z-index: 1;
}

/* Post */
.post_container {
	p {
		font-size: 20px;
		line-height: 1.5rem;
		margin-bottom: 28px;
		color: #384B56;
	}
}
.post_title {
	font-size: 42px;
	font-weight: 700;
}
.post_description {}
.post_quote {}
.post_date {}


/* Blog Page */
.blog_entries {
	padding: 16px;
	box-sizing: border-box;
	// &:nth-child(even) {
	// 	background: #E0E0E0;
	// }
	// &:nth-child(odd){
	// 	background: #EEE;
	// }
}
.blog_entry_title {
	margin: 0;
	a {
		font-family: KarminaSans-Bold;
		font-size: 48px;
		color: #1C2A32;
		letter-spacing: 1.6px;
		text-transform: uppercase;
		color: #1C2A32;
		&:visited {
			color: #1C2A32;
		}
		&:hover {
			color: #1C2A32;
		}
	}
	// margin: 0;
	// a {
	// 	text-transform: none;
	// 	color: #1C2A32;
	// 	&:visited {
	// 		color: #1C2A32;
	// 	}
	// 	&:hover {
	// 		color: #1C2A32;
	// 	}
	// }
}

.blog_entry_date {
	// color: rgba(0,0,0,.54);
	// font-size: 0.8em;
	font-family: KarminaSans-Bold;
	font-size: 14px;
	color: #EA4545;
	letter-spacing: 0.47px;
	line-height: 16px;
}

.blog_entry_description {
	color: rgba(0,0,0,.54);
	line-height: 1.5rem;
	margin-top: 4px;
	display: none;
}
.blog_meta_data {
	display: flex;
	small {
		margin-right: 8px;
	}
}
.blog_entry_tag {

}

.blog_entry_content, .bio_container, nav {
	max-width: 800px;
	margin: 0 auto;
}