nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px 24px;
	box-sizing: border-box;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 13px;
	padding: 0;
	margin: 0;
	width: 100%;
	li {
		text-align: center;	
		width: 100%;
		display: block;
		&:last-child {
			padding-right: 0;
		}
	}
	a {
		display: block;
		padding: 4px 16px;
		text-decoration: none;
		color: #1C2A32;
		transition: color 0.2s ease-in-out;
		&:visited {
			color: #1C2A32;
		}
		&:hover {
			color: #EA4545;
		}
	}
}

@media screen and (min-width: 460px) {
	nav {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 16px 24px;	
	}
	nav ul {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: inherit;
		li {
			display: inline-block;
		}
		a {
			display: inline-block;
		}
	}
}

.logo {
	font-weight: 500;
	letter-spacing: 1px;
}