body {
	font-family: 'Helvetica Neue', sans-serif;
}


h1 {
	font-size: 20px;
	color: #1C2A32;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	font-weight: 500;
	a {
		text-decoration: none;
		&:visited {

		}
		&:hover {

		}
		&:active {

		}
	}
}

p {
	font-size: 16px;
	line-height: 20px;
}